<div class="content-list-books">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <input 
          type="text" 
          [(ngModel)]="searchText" 
          (input)="searchByText()" 
          placeholder="Buscar por título o autor" 
          class="form-control search-input"
        />
      </div>
      <div class="col-12 mb-3">
        <select 
          [(ngModel)]="selectedCategory" 
          (change)="searchByCategory()" 
          class="form-select category-select"
        >
          <option value="">Todas las categorías</option>
          <option *ngFor="let category of categorias" [value]="category">{{ category }}</option>
        </select>
      </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let libro of filteredLibros">
        <div class="card h-100">
          <img [src]="getCategoryImage(libro.categoria.nombreCategoria)" class="card-img-top" alt="Libro {{ libro.titulo }}" style="height: 200px; object-fit: cover;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ libro.titulo }}</h5>
            <p class="card-text">Por: {{ libro.autor.nombreAutor }}</p>
            <p class="card-text">Categoría: {{ libro.categoria.nombreCategoria }}</p>
            <a [routerLink]="['/leer', libro.idLibro]" class="btn btn-primary mt-auto" target="_blank">Ver PDF</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
