<div class="content-list-books">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <input 
          type="text" 
          [(ngModel)]="searchText" 
          (input)="searchBooks()" 
          placeholder="Buscar por título o autor" 
          class="form-control search-input"
        />
      </div>
      <div class="col-12 mb-3">
        <select 
          [(ngModel)]="selectedCategory" 
          (change)="searchBooks()" 
          class="form-select category-select"
        >
          <option value="">Todas las categorías</option>
          <option *ngFor="let category of categorias" [value]="category">{{ category }}</option>
        </select>
      </div>
      
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <ng-container *ngIf="filteredLibros.length > 0; else noData">
        <div class="col item-card-bg" *ngFor="let libro of filteredLibros">
          <div class="card h-100">
            <div class="img-bg">
              <img 
                [src]="getCategoryImage(libro.categoria.nombreCategoria)" 
                class="card-img-top" 
                alt="Portada del libro {{ libro.titulo }}" 
                style="height: 150px; object-fit: cover;"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ libro.titulo }}</h5>
              <div class="container-autores">
                <p>Por:</p>
                <ul class="list-autores-book">
                  <li>{{ libro.autor.nombreAutor }}</li>
                </ul>
              </div>
              <p class="card-text">{{ libro.categoria.descripcion }}</p>
              <a 
                [routerLink]="['/leer', libro.idLibro]" 
                class="btn btn-dark w-100"
              >
                LEER LIBRO
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-template #noData>
    <p>No hay libros disponibles.</p>
  </ng-template>
</div>
