<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Libro</title>
</head>
<body>
    <!-- PREVISUALIZAR PDF -->
<!-- PREVISUALIZAR PDF -->
<div class="content-preview-pdf" *ngIf="pdfUrl">
    <div class="container">
        <div class="bg-pdf-preview">
            <iframe id="pdf" [src]="pdfUrl | safeUrl" frameborder="0"></iframe>
        </div>
        <div class="bg-button-download d-flex justify-content-center">
            <a [href]="pdfUrl" download class="btn btn-dark p-3 mb-3">
                <i class="fa-regular fa-circle-down"></i> Descargar Libro
            </a>
        </div>
    </div>
</div>
<!-- PREVISUALIZAR PDF -->
    <!-- INFORMACION BASICA DEL LIBRO -->
     <div class="content-info-basica">
        <div class="container">
            <h1>{{libro?.titulo}}</h1>
            <ul>
                <li>{{libro?.autor?.nombreAutor}}</li>
            </ul>
            <a href="#"><span class="badge rounded-pill bg-secondary p-2">{{libro?.categoria?.nombreCategoria}}</span></a>
            <hr>
        </div>
     </div>
    <!-- INFORMACION BASICA DEL LIBRO -->

    <!-- COMENTARIOS DEL LIBRO -->
     <div class="content-comentarios">
        <div class="container">
            <h4 >Comentarios</h4 >
            <ul>
                <li>
                    <div class="row">
                        <div class="col-1"><img src="img/gravatar.png" alt=""></div>
                        <div class="col-8">
                            <div class="nombre-lista-star">
                                <p>Nombre</p>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, soluta, consectetur deserunt eos aperiam perferendis dolorem</p>
                        </div>
                        <button type="button" class="btn" id="btn-ver-mas">Ver más comentarios...</button>
                    </div>
                </li>
            </ul>
            <form>
                <textarea placeholder="Escribe tu comentario aqui..." class="form-control"></textarea>
                <span class="califica-libro mt-2" for="rating">Califica el libro</span>
                <div class="star-rating">
                    <input type="radio" id="star5" name="rating" value="5"><label for="star5" class="fa-regular fa-star"></label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" class="fa-regular fa-star"></label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" class="fa-regular fa-star"></label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" class="fa-regular fa-star"></label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" class="fa-regular fa-star"></label>
                </div>
                <button class="btn btn-dark mt-2" type="button"><i class="fa-solid fa-paper-plane"></i> Enviar Comentario</button>
            </form>
        </div>
     </div>
    <!-- COMENTARIOS DEL LIBRO -->
   
</body>
</html>