@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navbar{
    background: #fff;
}

.nav-link{
    font-family: 'Roboto';
    font-weight: 600;
    margin-left: 15px;
}

.nav-link > span{
    margin-left: 10px;
}

@media (max-width: 992px) {
    .nav-link{
        margin-left: 0px;
    }
}

.nav-link > i{
    font-size: 1.2rem;
}

nav .active {
    color: #2ECC71;
}

#titulo-nav{
    font-family: "Poppins";
}

/** estilos footer */
footer{
    margin-top: 25px;
    background-color: #F1F1F1;
    padding-top: 30px;
}

footer .footer-title{
    font-family: "Poppins";
    font-weight: bold;
}

footer .subtitulo-footer{
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.1rem;
}
