<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Biblioteca Digital</title>
</head>
<body>
  <!-- HEADER -->
    <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Primer elemento del carrusel -->
          <div class="carousel-item active">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-12 col-sm-6 content-info-left d-flex flex-column justify-content-center">
                        <div class="content">
                          <h3>Nombre del Autor</h3>
                          <h2>Titulo del libro mas extenso</h2>
                          <a href="#" class="btn btn btn-outline" id="btn-leermas">LEER MAS</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 p-4 content-info-right">
                        <a href="#" class="img-right-header"><img src="img/headerEjemplo.jpg" alt="Imagen header"></a>
                    </div>
                </div>
            </div>
          </div>
          <!-- Segundo elemento del carrusel -->
          <div class="carousel-item active">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-12 col-sm-6 content-info-left d-flex flex-column justify-content-center">
                        <div class="content">
                          <h3>Nombre del Autor</h3>
                          <h2>Titulo del libro mas extenso</h2>
                          <a href="#" class="btn btn btn-outline" id="btn-leermas">LEER MAS</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 p-4 content-info-right">
                        <a href="#" class="img-right-header"><img src="img/headerEjemplo.jpg" alt="Imagen header"></a>
                    </div>
                </div>
            </div>
          </div>

        </div>
        <!-- Controles del carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- HEADER -->
<!-- FILTER -->
<div class="content-filter mt-4">
  <div class="container">
    <h4>Filtros</h4>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
      </div>
      <p class="palabras-clave-titulo mt-2">Categorías</p>
      <ul class="content-list-palabras-clave">
        <li *ngFor="let categoria of categorias">
          <div class="form-check">
            <input class="form-check-input" 
                   type="checkbox" 
                   [value]="categoria" 
                   (change)="seleccionarCategoria(categoria, $event)" 
                   id="check-{{ categoria }}" />
            <label class="form-check-label" for="check-{{ categoria }}">
              {{ categoria }}
            </label>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>
<!-- FILTER -->

<!-- Mostrar los libros filtrados -->
<div class="libros-filtrados mt-3">
  <h4>Libros</h4>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of librosFiltrados">
      <div class="card h-100"> <!-- h-100 para que todas las tarjetas ocupen el mismo alto -->
        <div class="img-bg">
          <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" 
            class="card-img-top img-fluid" 
            alt="Imagen de la categoría" 
            style="height: 150px; object-fit: cover;"
          />
        </div>
        <div class="card-body d-flex flex-column"> <!-- Usar flexbox para alinear el contenido -->
          <h5 class="card-title">{{ item.titulo }}</h5>
          <div class="container-autores">
            <p>Por: <strong>{{ item.autor.nombreAutor }}</strong></p>
          </div>
          <div class="container-tags">
            <ul>
              <li><a href="#"><span class="badge rounded-pill bg-secondary p-2">{{ item.categoria.nombreCategoria }}</span></a></li>
            </ul>
          </div>
          <a href="{{ item.referenciaPdf }}" class="btn btn-primary mt-auto" target="_blank">Ver PDF</a> <!-- mt-auto para empujar el botón hacia abajo -->
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- PAGINACION -->
     <div class="content-paginacion">
      <div class="container d-flex justify-content-center mt-5">
        <nav aria-label="Page navigation example pagination-lg">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>

            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
          </ul>
        </nav>
      </div>
     </div>
    <!-- PAGINACION -->
</body>
</html>